@import "tailwindcss";

/* index.css */
.hero-gradient {
  background: linear-gradient(135deg, #ffe080 0%, #feb956 35%, #8ccf52 100%);
}

@font-face {
  font-family: "DragonHunter";
  src: url("/fonts/EBGaramond-VariableFont_wght.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* custom utility class */
.font-dragon {
  font-family: "DragonHunter", sans-serif;
}